{{ define "main" }}

{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{ $projects := where .Site.RegularPages "Section" "projects" }}
{{ $pages = first (default 5 .Site.Params.homePosts) (sort (where (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) ".Params.hiddenfromhomepage" "!=" true) "Date" "desc") }}

<div class="container">
    <!-- Blog -->
    <section>
        <h2 class='section-title'>
            Blog
            <a class="section-button" href="/archive">Archive</a>
        </h2>
        <div class="posts">
            {{ range $pages }}
            <div class="post flex-post">
                <a href="{{ .RelPermalink }}" class="home-post-title">
                    <div class="post-row">
                        <time>{{ .Date.Format "Jan 02" }}</time>
                        <h3>{{ .Title }}</h3>
                    </div>
                </a>
                {{ $category := index .Params.categories 0 }}
                <a class="home-post-category section-button" href={{ path.Join "/categories" $category }}>{{ $category }}</a>
            </div>
            {{ end }}
        </div>
    </section>

    <!-- Newsletter -->
    <section>
        <h2 class='section-title'>
            <span>Newsletter <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.6396 7.02527H12.0181V5.02527H19.0181V12.0253H17.0181V8.47528L12.1042 13.3892L10.6899 11.975L15.6396 7.02527Z" fill="currentColor" /><path d="M10.9819 6.97473H4.98193V18.9747H16.9819V12.9747H14.9819V16.9747H6.98193V8.97473H10.9819V6.97473Z" fill="currentColor" /></svg></span>
            <a class="section-button" href="https://world.hey.com/gurjot">View all</a>
        </h2>
        <div class="posts">
            <div class="post flex-post">
                <a href="https://world.hey.com/gurjot/what-s-your-unfulfill-able-desire-fdb4c0c3" class="home-post-title">
                    <div class="post-row">
                        <time>May 31</time>
                        <h3>What's your unfulfill-able desire?</h3>
                    </div>
                </a>
            </div>
            <div class="post flex-post">
                <a href="https://world.hey.com/gurjot/clarity-do-you-seek-it-56bf9fe9" class="home-post-title">
                    <div class="post-row">
                        <time>May 18</time>
                        <h3>Clarity, do you seek it?</h3>
                    </div>
                </a>
            </div>
            <div class="post flex-post">
                <a href="https://world.hey.com/gurjot/am-i-a-digital-gardener-now-0594246e" class="home-post-title">
                    <div class="post-row">
                        <time>Apr 11</time>
                        <h3>Should you hire an accountant?</h3>
                    </div>
                </a>
            </div>
            <div class="post flex-post">
                <a href="https://world.hey.com/gurjot/would-you-like-to-be-electro-jogged-fa79dffa" class="home-post-title">
                    <div class="post-row">
                        <time>Apr 5</time>
                        <h3>Would you look to be electro jogged?</h3>
                    </div>
                </a>
            </div>
            <div class="post flex-post">
                <a href="https://world.hey.com/gurjot/should-you-drown-in-the-ganga-36e93ea9" class="home-post-title">
                    <div class="post-row">
                        <time>Mar 28</time>
                        <h3>Should you drown in the Ganga?</h3>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <!-- Projects -->
    {{ if gt (len $projects) 0}}
    <section>
        <h2>Projects</h2>
        <div class="projects">
            {{ range $projects }}
             <!-- range $projects.ByWeight  -->
            <div class="project">
                <div class='project-row'>
                    <a href="{{ .Params.link }}">
                        <time>{{ .Params.year }}</time>
                        <h3>{{ .Title }}</h3>
                        <div class="description">{{ .Params.description }}</div>
                    </a>
                </div>
                {{ if .Params.showrepo }}
                <div class="flex">
                    <a href="{{ .Params.repo }}" class="button">Source</a>
                </div>
                {{end}}
            </div>
            {{ end }}
        </div>
        <small>* Active † Continuous</small>
    </section>
    {{ end }}
</div>

{{ end }}