
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="theme-color" content="light">
    <meta name="author" content="Gurjot." />
    <meta name="description" content="Witness the normal." />
    <meta name="keywords" content="thatgurjot, blog, portfolio" />

    <title>{{ with .Title }} {{ . }} | {{ end }}{{ .Site.Title }}</title>

    <!-- Favicon and Touch icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "apple-touch-icon.png" | relURL }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon-32x32.png" | relURL }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "favicon-16x16.png" | relURL }}">
    <link rel="manifest" href="{{ "manifest.json" | relURL }}">
    <link rel="mask-icon" href="{{ "safari-pinned-tab.svg" | relURL }}" color="#5bbad5">

    <!-- CSS -->
    {{ $style := resources.Get "sass/main.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">

    <!-- Scrollama -->
    {{ if .Params.scrollama }}
    <script type="text/javascript" src="../js/intersection-observer.js"></script>
    <script type="text/javascript" src="../js/scrollama.min.js"></script>
    {{ end }}
</head>