{{- define "title" }}{{ T "archive" }} - {{ .Site.Title }}{{ end -}}

{{ define "main" }}

<header>
    <div class="container">
        <h1>{{ .Title }}</h1>
        <!-- <p class="subtitle">{{ .Params.subtitle }}</p> -->
        <p class='terms'><a class='section-button' href="/categories/">categories</a> | <a class='section-button' href="/tags/">tags</a></p>
    </div>
</header>

{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}

<section>
    <div class="container">
        <section>
            {{ range $pages.GroupByDate "2006" }}
            <section>
                <h2>{{ .Key }}</h2>
                <div class="posts">
                    {{ range .Pages }}
                    <div class="post flex-post">
                        <a href="{{ .RelPermalink }}" class="home-post-title">
                            <div class="post-row">
                                <time>{{ .Date.Format "Jan 02" }}</time>
                                <h3>{{ .Title }}</h3>
                            </div>
                        </a>
                        {{ $category := index .Params.categories 0 }}
                        <a class="home-post-category section-button" href={{ path.Join "/categories" $category }}>{{ $category }}</a>
                    </div>
                    {{ end }}
                </div>
            </section>
            {{ end }}
        </section>
    </div>
</section>

{{ end }}
